<!-- <h2>{{user.pseudo | uppercase}} Details</h2>
<div><span>id: </span>{{user.id}}</div>
<div><span>pseudo: </span>{{user.pseudo}}</div>
<div><span>nom: </span>{{user.nom}}</div>
<div><span>prenom: </span>{{user.prenom}}</div>
<div><span>date_naissance: </span>{{user.date_naissance}}</div> 

<div>
  <label>pseudo:
    <input [(ngModel)]="user.pseudo" placeholder="pseudo"/>
  </label>
</div>  -->

<h2>My Users</h2>
<ul class="users">
  <li *ngFor="let user of users">
  	<a routerLink="/detail/{{user.id}}">
       <span class="badge">{{user.id}} </span> {{user.pseudo}} 
    </a>
      <button class="delete" title="delete user"
       (click)="delete(user)">x</button>
  </li>
</ul>


<div>
  <label>User pseudo:
    <input #userPseudo />
  </label>
  <label>User nom:
    <input #userNom />
  </label>
  <label>User prenom:
    <input #userPrenom />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(userPseudo.value, userNom.value, userPrenom.value); userPseudo.value=''; userNom.value=''; userPrenom.value=''">
    add
  </button>
</div>